<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Cadastro</title>
  <link rel="stylesheet" href="cadastro.css">
</head>
<body>
  <div class="container">
    <div class="top-bar">
      <span class="back-arrow">&#8592;</span>
      <h2>Tela de Cadastro</h2>
    </div>

    <!-- Carrossel substituindo a logo -->
    <div class="carousel-container">
      <div class="carousel-slide active"><img src="../../img/mulher.png" alt="Imagem 1"></div>
      <div class="carousel-slide"><img src="../../img/mulher.png" alt="Imagem 2"></div>
      <div class="carousel-slide"><img src="../../img/mulher.png" alt="Imagem 3"></div>
      <div class="carousel-slide"><img src="../../img/mulher.png" alt="Imagem 4"></div>

      <div class="carousel-selectors">
        <span class="selector active" onclick="selectSlide(0)"></span>
        <span class="selector" onclick="selectSlide(1)"></span>
        <span class="selector" onclick="selectSlide(2)"></span>
        <span class="selector" onclick="selectSlide(3)"></span>
      </div>
    </div>

    <div class="form">
      <label>Digite o seu e-mail</label>
      <input type="email" placeholder="seu e-mail" id="email">

      <label>Crie sua senha</label>
      <input type="password" placeholder="digite a senha" id="password">

      <ul class="senha-requisitos">
        <li>A senha deve conter letras maiúsculas e minúsculas</li>
        <li>Números e caracteres</li>
        <li>Deve conter no mínimo 8</li>
      </ul>

      <button onclick="validarCadastro()">Confirmar</button>

      <p class="login">login</p>
    </div>
  </div>

 <script src="cadastro.js"></script>
</body>
</html>
