<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Cadastro</title>
  <link rel="stylesheet" href="cadastro.css">
</head>
<style>
  .back-arrow {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 12px;
  cursor: pointer;
}

</style>
<body>
  <div class="container">
    <div class="top-bar">
      
      <a href="../login email/email-login.html">
        <span class="back-arrow">&#8592;</span>
      </a>
      <h2>Tela de Cadastro</h2>
    </div>

   
    <div class="carousel-container">
      <div class="carousel-slide active"><img src="../../img/mulher.png" alt="Imagem 1"></div>
      <div class="carousel-slide"><img src="../../img/mulherB.png" alt="Imagem 2"></div>
      <div class="carousel-slide"><img src="../../img/homenP.png" alt="Imagem 3"></div>
      <div class="carousel-slide"><img src="../../img/homenB.png" alt="Imagem 4"></div>

    
      <span class="carousel-arrow prev" onclick="moveSlide(-1)">&#10094;</span>
      <span class="carousel-arrow next" onclick="moveSlide(1)">&#10095;</span>
    </div>

    <form class="form">
      <label>Digite seu nome</label>
      <input type="name" placeholder="username" id="name">

      <label>Digite o seu e-mail</label>
      <input type="email" placeholder="seu e-mail" id="email">

      <label>Crie sua senha</label>
      <input type="password" placeholder="digite a senha" id="password">

      <!-- <ul class="senha-requisitos">
        <li>A senha deve conter letras maiúsculas e minúsculas</li>
        <li>Números e caracteres</li>
        <li>Deve conter no mínimo 8</li>
      </ul> -->

      <button>Confirmar</button>
    </form>
  </div>

  <script src="./cadastro.js"></script>
</body>
</html>
