<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meses</title>
  <link rel="stylesheet" href="mensal.css">
</head>
<body>
  <div class="sidebar">
    <img src="../../img/menu.png" alt="Menu" class="menu-icon" />
  </div>

  <div class="container">
    <a href="jan.html" class="card green">JAN</a>
    <a href="fev.html" class="card blue">FEV</a>
    <a href="mar.html" class="card gray">MAR</a>
    <a href="abr.html" class="card purple">ABR</a>
    <a href="maio.html" class="card teal">MAI</a>
    <a href="jun.html" class="card yellow">JUN</a>
    <a href="jul.html" class="card green">JUL</a>
    <a href="ago.html" class="card blue">AGO</a>
    <a href="set.html" class="card gray">SET</a>
    <a href="out.html" class="card purple">OUT</a>
    <a href="nov.html" class="card teal">NOV</a>
    <a href="dez.html" class="card yellow">DEZ</a>
  </div>

  <script src="mensal.js"></script>
</body>
</html>
