<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compartilhamentos</title>
  <link rel="stylesheet" href="lista.css">
</head>
<style>
  .voltar {
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
  color: #000;
  cursor: pointer;
}

</style>
<body>

  <!-- Menu superior -->
  <header class="topo">
    <h1 class="logo">LISTA</h1>
  </header>

  <!-- Título da página -->
  <div class="titulo-pagina">
    <a href="../pagina principal/principal.html" class="voltar">←</a> COMPARTILHAMENTOS
  </div>

  <!-- Listas compartilhadas -->
  <main class="listas-compartilhadas">

    <div class="card-lista card1">
      <h2>LISTA</h2>
      <div class="avatars">👤👤👤</div>
    </div>

    <div class="card-lista card2">
      <h2>FESTA</h2>
      <div class="avatars">👤👤👤👤</div>
    </div>

    <div class="card-lista card3">
      <h2>JAN</h2>
      <div class="avatars">👤👤👤👤</div>
    </div>

    <div class="card-lista card4">
      <h2>FER</h2>
      <div class="avatars">👤👤👤👤</div>
    </div>

    <div class="card-lista card5">
      <h2>MAI</h2>
      <div class="avatars">👤👤👤👤</div>
    </div>

  </main>

</body>
</html>
