<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SmartCart Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <div class="logo-icon"><img src="img/logo.png" alt=""></div>
    <div class="logo">SmartCart</div>

    <div class="avatar"> <img src="img/perfil.png" alt=""></div>


    <button class="btn google" onclick="loginGoogle()">
      <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google">
    </button>

    <button class="btn email" onclick="loginEmail()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" stroke-width="2" viewBox="0 0 24 24">
        <path d="M4 4h16v16H4z" fill="#e0e0e0"/>
        <path d="M4 4l8 8 8-8" />
      </svg>
      continuar com e-mail
    </button>

    <button class="btn register" onclick="cadastrar()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="20" height="20">
        <path d="M12 12c2.67 0 8 1.34 8 4v2H4v-2c0-2.66 5.33-4 8-4z"/>
        <circle cx="12" cy="7" r="4"/>
      </svg>
      Cadastrar
    </button>
  </div>

  <script src="login.js"></script>
</body>

</html>