<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Item</title>
  <link rel="stylesheet" href="adicionaritem.css">
</head>
<body>

  <!-- Menu superior -->
  <header class="topo">
    <div class="menu-icon">☰</div>
    <h1 class="logo">LISTA</h1>
  </header>

  <!-- Box de título -->
  <section class="box-titulo">
    <a href="index.html" class="voltar">←</a>
    <h2>ADICIONAR ITEM</h2>
  </section>

  <!-- Formulário -->
  <main class="formulario">
    <input type="text" placeholder="Categoria do item: ex: hortifruti, limpeza" required>
    <input type="text" placeholder="Digite o nome do item:" required>
    <input type="text" placeholder="Digite o peso do item. ex: kg, ml." required>
    <input type="number" placeholder="Quantidade de itens" required>
    <button type="submit">ADICIONAR</button>
  </main>

</body>
</html>
