<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Item</title>
  <link rel="stylesheet" href="adicionaritem.css">
</head>
<style>
.menu-icon {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 16px;
  cursor: pointer;
}
</style>
<body>

  <header class="topo">
    <a href="../pagina principal/principal.html" class="menu-icon">☰</a>
    <h1 class="logo">LISTA</h1>
  </header>

  <!-- Box de título -->
  <section class="box-titulo">
    <h2>ADICIONAR ITEM</h2>
  </section>

  <!-- Formulário -->
  <main class="formulario">
    <form class="form">
      <input type="text" id="name"  placeholder="Nome da lista" required>
      <!-- <input type="text" placeholder="Digite o nome do item:" required>
      <input type="text" placeholder="Digite o peso do item. ex: kg, ml." required>
      <input type="number" placeholder="Quantidade de itens" required> -->
      <button type="submit">ADICIONAR</button>
    </form>
  </main>

  <script src="./cadastrar.js"></script>
</body>
</html>
