<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Item</title>
  <link rel="stylesheet" href="adicionaritem.css">
</head>
<style>
  .menu-icon {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 16px;
    cursor: pointer;
  }
</style>

<body>

  <header class="topo">
    <a href="../pagina principal/principal.html" class="menu-icon">☰</a>
    <h1 class="logo">LISTA</h1>
  </header>

  <!-- Formulário -->
  <main class="formulario">
    <form class="form">
      <h2>Criar lista</h2>
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" placeholder="Nome da lista" required>
      <label for="categoria">Categoria:</label>
      <input type="text" id="categoria" name="categoria" placeholder="Informe a categoria">
      <!-- <input type="text" placeholder="Digite o peso do item. ex: kg, ml." required>
      <input type="number" placeholder="Quantidade de itens" required> -->
    </form>
    <section class="submit-buttons">
      <span class="box-button">
        <button onclick="cadastrarLista(0)">CRIAR LISTA</button>
      </span>
      <span class="box-button">
        <button onclick="cadastrarLista(1)">ADICIONAR ITEM</button>
      </span>
    </section>

  </main>

  <script src="./cadastrar.js"></script>
</body>

</html>