<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login por Email</title>
  <link rel="stylesheet" href="email-login.css">
</head>
<body>
  <div class="container">
    <div class="top-bar">
      <span class="back-arrow">&#8592;</span>
      <span class="title">Login pelo Email</span>
    </div>

    <div class="logo-img">
      <img src="../../img/logo2.png" alt="Logo">
    </div>

    <form>
      <label for="email">Digite o seu e-mail</label>
      <input type="email" id="email" placeholder="seu e-mail" required>

      <label for="senha">Qual sua senha?</label>
      <input type="password" id="senha" placeholder="senha" required>

      <button type="submit" class="btn green">Próxima</button>
    </form>

    <script src="email-login.js"></script>

    <p class="signup">não tem conta? <a href="../cadastro/cadastro.html">cadastre-se</a></p>
  </div>
</body>
</html>
