<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minhas Listas</title>
  <link rel="stylesheet" href="pagina principal.css">
</head>
<body>
  <div class="container">

    <a href="../conta/conta.html" class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </a>
    

    <div class="cards">
      <div class="card" style="background-color: #769fad;">
        <img src="/src/img/pagina principal.png" alt="Lista">
        <span>LISTA</span>
      </div>
      <div class="card" style="background-image: url('../../img/festa.jpeg');">
        <span>FESTA</span>
      </div>
    </div>

    <button class="create-btn" onclick="criarLista()">+ CRIAR LISTA</button>

    <div class="meses">
      <div class="mes" style="background-color: #b7d9a8;">JAN</div>
      <div class="mes" style="background-color: #96c0e0;">FER</div>
      <div class="mes" style="background-color: #9f86c0;">MAR</div>
      <div class="mes" style="background-color: #96c0e0;">ABR</div>
      <div class="mes" style="background-color: #b7d9a8;">MAI</div>
      <div class="mes" style="background-color: #f5d491;">JUN</div>
      <div class="mes" style="background-color: #9ed89e;">JUL</div>
    </div>

  </div>

  <script src="pagina principal.js"></script>
</body>
</html>
