<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SmartCart - Conta</title>
  <link rel="stylesheet" href="conta.css" />
</head>
<body>
  <div class="container">
    <div class="imagem-topo">
      <img src="img/banner-lista.png" alt="Banner">
    </div>

    <div class="painel-conta">
      <div class="perfil">
        <img src="img/perfil.png" alt="Avatar">
        <span>Olá Francisco!</span>
      </div>
      <h2 class="titulo-conta">CONTA</h2>
    </div>

    <div class="bloco-opcoes">
      <div class="card">
        <img src="img/icon-lista.png" alt="Ícone lista">
        <div>
          <h3>LISTAS COMPARTILHADAS</h3>
          <p>crie e veja suas listas de compras</p>
        </div>
      </div>
      <div class="card">
        <img src="img/icon-historico.png" alt="Ícone histórico">
        <div>
          <h3>HISTORICO DE COMPRAS</h3>
          <p>veja suas compras anteriores</p>
        </div>
      </div>
      <div class="card">
        <img src="img/icon-despesas.png" alt="Ícone despesas">
        <div>
          <h3>MINHAS DESPESAS</h3>
          <p>veja seus gastos de cada mês</p>
        </div>
      </div>
    </div>

    <div class="ajuda">
      <strong>AJUDA</strong>
    </div>
  </div>

  <script src="conta.js"></script>
</body>
</html>
