<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Conta</title>
  <link rel="stylesheet" href="menu.css">
</head>
<body>

  <!-- Menu superior -->
  <header class="topo">
    <div class="menu-icon">☰</div>
    <h1 class="logo">LISTA</h1>
  </header>

  <!-- Card da Conta -->
  <section class="card-conta">
    <img src="menu.css" alt="Foto de perfil" class="avatar">
    <div class="info-conta">
      <p>Olá Francisco!</p>
      <h2>CONTA</h2>
    </div>
  </section>

  <!-- Navegação da Conta -->
  <main class="menu-conta">

    <div class="opcao">
      <div class="icone">📝</div>
      <h3>LISTAS COMPARTILHADAS</h3>
      <p>veja suas e outras lista compartilhadas</p>
    </div>

    <div class="opcao">
      <div class="icone">⏳</div>
      <h3>HISTÓRICO DE COMPRAS</h3>
      <p>veja suas compras anteriores</p>
    </div>

    <div class="opcao">
      <div class="icone">💸</div>
      <h3>MINHAS DESPESAS</h3>
      <p>veja seus gastos de cada mês</p>
    </div>

  </main>

  <footer class="rodape">
    <h4>AJUDA</h4>
  </footer>

</body>
</html>
